{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	
	<!-- DESCRIPTION -->
	<meta name="description" content="{{ title }}" />
	
	<!-- OG -->
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:description" content="{{ title }}" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" href="{% static 'homepage/images/favicon.ico' %}" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'homepage/images/favicon.png' %}" />
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>{{ title }}</title>
	
	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
	<script src="{% static 'homepage/js/html5shiv.min.js"></script>
	<script src="{% static 'homepage/js/respond.min.js"></script>
	<![endif]-->
	
	<!-- All PLUGINS CSS ============================================= -->
	
{% block cssblock %}
{% endblock %}
</head>
<body id="bg">

{% include 'homepage/header.html' %}

{% block content %}
{% endblock %}

{% include 'homepage/footer.html' %}

{% block jsblock %}
{% endblock %}
</body>
</html>